* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#main {

}

.clear {
    clear:both;
}

.black-color {
    color: #000 !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.row-border-3 {
    margin-left: -14px;
    margin-right: -14px;
}

.col {
    padding: 0 8px;
    float: left;
}

.col-2 {
    width: 50%;
}

.col-1 {
    width: 100%;
}

.col-4 {
    width: 25%;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}
#nav li a {
    color: rgb(253, 182, 235);
    text-decoration: none;
    line-height: 46px;
    display: block;
}

#nav > li > a {
     text-transform: uppercase;
     padding: 0 20px;
}

#nav > li:hover > a,
#nav .subnav li:hover a,
#header .search-icon:hover  {
    background-color: rgb(253, 182, 235);
    color: #000;
    cursor: pointer;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    display: none;
    top: 46px;
    left: 0;
    list-style: none;
    box-shadow: 0 0 10px rgba(253, 182, 235, 0.1);
}

#nav .subnav li {
    min-width: 160px;
}

#nav .subnav li {
    background-color: black;
}

#nav .more-icon {
    font-size: 13px;
}

#nav .subnav a {
    line-height: 40px;
    padding: 0 12px;
}

#header .mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header .search-icon {
    float: right;
    color: rgb(253, 182, 235);
    padding: 16px;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../image/wp4104535.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 18px;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#slider .text-description {
    color: rgb(241, 179, 226);
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    color: rgb(201, 68, 157);
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px; 
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
    margin-bottom: 40px;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
    font-style: italic;
}

#content .member-list {
    margin-top: 46px;
    text-align: center;
}

#content .member-item:hover,
#content .place-item:hover {
    cursor: pointer;
}

#content .member-img {
    width: 155px;
    max-width: 160px;
    /* margin-top: 15px; */
    border-radius: 18px;
}

#content .tour-section {
    background-color: #000;
    padding-bottom: 12px;
}

.ticket-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.ticket-list li {
    font-size: 15px;
    color: #757575;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(141, 2, 106);
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff !important;
    padding: 3px 4px ;
    margin-left: 14px;
}

.ticket-list .quatity {
    float: right;
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#content .places-list {
    margin-top: 46px;
    text-align: center;
    
}

#content .place-item {
    border: #000 solid 3px;
    border-radius: 12px;
    background-color: #fff;
}

#content .place-img {
    width: 150px;
    margin-top: 10px;
}

#content .place-img:hover {
    opacity: 0.8;
}

.place-body {
    text-align: left !important;
    margin-top: 5px;
    padding-left: 10px;
    min-height: 130px;
    position: relative;
}

.place-body .place-heading {
    font-size: 15px;
}

.place-body .place-time {
    font-size: 15px;
}

.place-body .place-desc {
    font-size: 12px;
    margin-bottom: 20px;
}

.place-body .place-buy-btn {
    background-color: #000;
    text-decoration: none;
    color: rgb(241, 179, 226);
    padding: 12px;
    font-size: 14px;
    text-align: center;
}

.shopping-cart-btn {
    margin-right: 5px;
}

.place-body .place-buy-btn:hover{
    background-color: rgb(241, 179, 226);
    color: #000;
    border: #000 solid 1px;
    cursor: pointer;
}

.contact-info {
    font-size: 15px;
    line-height: 1.5;
}

.contact-info a {
    color: rgb(141, 2, 106, 0.8);
}

.contact-info a:hover {
    color: rgb(141, 2, 106);
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: #000 solid 1px;
    width: 100%;
}

.modal,
.modal-jennie-album,
.modal-lisa-album,
.modal-jisoo-album,
.modal-rose-album {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #f44336;
}

.modal-heading {
    width: 100%;
    background-color: rgb(241, 179, 226);
    text-align: center;
    line-height: 130px;
    font-size: 30px;
}

.modal-bag-icon {
    margin-right: 5px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    padding-bottom: 8px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(201, 79, 160);
    font-size: 15px;
    margin-bottom: 15px;
}

#pay-ticket-btn {
    width: 100%;
    background-color: rgb(241, 179, 226);
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

#pay-ticket-btn:hover {
    background-color: #000;
    color: rgb(241, 179, 226);
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding-bottom: 12px;
    padding-right: 16px;
}

.modal-footer a {
    color: rgb(141, 2, 106);
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: rgb(247, 166, 220);
    padding: 10px 16px;
    border: none;
    float: right;
    border-radius: 10px;
}

.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: rgb(235, 176, 215);
    cursor: pointer;
}

.video-section {
}

.video-section video{
    width: 100%;
}



#footer {
    padding: 26px 16px;
    text-align: center;
}

#footer .socials-list a{
    text-decoration: none;
    font-size: 24px;
    color: #000;
    opacity: 0.8;
}

#footer .socials-list a:hover,
#footer .copyright a:hover {
    opacity: 1;
    color: rgb(201, 79, 160);
}

#footer .socials-list i {
    padding: 0 5px;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-jennie-album.open,
.modal-lisa-album.open,
.modal-jisoo-album.open,
.modal-rose-album.open {
    display: flex;
}

.modal-album-container {
    background-color: #fff;
    width: 800px;
    min-height: 300px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(253, 182, 235);
    display: flex;
    max-width: calc(100% - 32px);
}


.album-p1 img,
.album-p21 img,
.album-p22 img {
    width: 100%;
    border-radius: 10px;
}

.album-info {
    margin: 15px;
}

.album-info-heading {
    text-align: justify;
}

@media (min-width: 64em) {
    .member-item:hover {
        margin-top: -5px;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .member-item:hover {
        margin-top: -5px;
    }
}

/* tablet & mobile */
@media (max-width: 63.9375em) {
    .contact-form .form-submit-btn {
        padding: 16px 24px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer {
        margin: 28px;
    }

    #footer .socials-list a {
        font-size: 48px;
        margin: 0 8px;
    }
    #footer .copyright {
        font-size: 24px;
        margin-top: 24px;
    }

    .contact-info {
        line-height: 2;
    }
} 

@media (max-width: 46.1875em) {
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-m-8 {
        margin-top: 8px;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav a {
        padding: 5px 41px;
    }

    #nav li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }

    #header .search-icon {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block
    }

    #content .member-item {
        margin-top: 30px;
        width: 50%;
    }

    #content .place-item {
        width: 50%;
        margin-top: 20px;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-form {
        margin-top: 24px;
    }
}